# Data Wrangling & Data Consistency Checks

## I. Data Import

In [256]:
# import libraries
import numpy as np
import pandas as pd
import os

In [257]:
# current working directory
cwd = os.getcwd()

# get the parent directory path
repo_dir = os.path.dirname(cwd)

In [258]:
# read dataset 'survey-responses.csv'
df = pd.read_csv(os.path.join(repo_dir, 'data', 'prepared-data', 'survey-responses.csv'), index_col = False)

## II. Data Overview

In [259]:
# make sure pandas display all rows & columns
pd.set_option('display.max_columns', None)

# change the display format to non-scientific notation
pd.options.display.float_format = '{:.2f}'.format

In [260]:
# check outputs of df
df.head(3)

,Survey Year,Timestamp,SalaryUSD,Country,PostalCode,PrimaryDatabase,YearsWithThisDatabase,OtherDatabases,EmploymentStatus,JobTitle,ManageStaff,YearsWithThisTypeOfJob,HowManyCompanies,OtherPeopleOnYourTeam,CompanyEmployeesOverall,DatabaseServers,Education,EducationIsComputerRelated,Certifications,HoursWorkedPerWeek,TelecommuteDaysPerWeek,PopulationOfLargestCityWithin20Miles,EmploymentSector,LookingForAnotherJob,CareerPlansThisYear,Gender,OtherJobDuties,KindsOfTasksPerformed,Counter
0,2017,1/5/2017 5:10:20,200000,United States,Not Asked,Microsoft SQL Server,10,MySQL/MariaDB,Full time employee,DBA,No,5,Not Asked,2,Not Asked,350,Masters,No,"Yes, and they're currently valid",45,1,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
1,2017,1/5/2017 5:26:23,61515,United Kingdom,Not Asked,Microsoft SQL Server,15,"Oracle, PostgreSQL",Full time employee,DBA,No,3,Not Asked,1,Not Asked,40,None (no degree completed),NaN,"No, I never have",35,2,Not Asked,Private business,No,Not Asked,Not Asked,Not Asked,Not Asked,1
2,2017,1/5/2017 5:32:57,95000,Germany,Not Asked,Microsoft SQL Server,5,"Oracle, MySQL/MariaDB, Informix",Full time employee,Other,Yes,25,Not Asked,2,Not Asked,100,Masters,Yes,"Yes, but they expired",45,"None, or less than 1 day per week",Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1

In [261]:
# get current columns
df.columns

Index(['Survey Year', 'Timestamp', 'SalaryUSD', 'Country', 'PostalCode',
       'PrimaryDatabase', 'YearsWithThisDatabase', 'OtherDatabases',
       'EmploymentStatus', 'JobTitle', 'ManageStaff', 'YearsWithThisTypeOfJob',
       'HowManyCompanies', 'OtherPeopleOnYourTeam', 'CompanyEmployeesOverall',
       'DatabaseServers', 'Education', 'EducationIsComputerRelated',
       'Certifications', 'HoursWorkedPerWeek', 'TelecommuteDaysPerWeek',
       'PopulationOfLargestCityWithin20Miles', 'EmploymentSector',
       'LookingForAnotherJob', 'CareerPlansThisYear', 'Gender',
       'OtherJobDuties', 'KindsOfTasksPerformed', 'Counter'],
      dtype='object')

In [262]:
# check number of rows and columns
df.shape

(6893, 29)

In [263]:
# get basic statistics
df.describe()

,Survey Year,YearsWithThisDatabase,YearsWithThisTypeOfJob,DatabaseServers,HoursWorkedPerWeek,Counter
count,6893.00,6893.00,6893.00,6893.00,6893.00,6893.00
mean,2017.71,24.58,7.17,256.35,43.17,1.00
std,0.68,744.83,6.33,6261.02,7.03,0.00
min,2017.00,0.00,0.00,0.00,3.00,1.00
25%,2017.00,6.00,3.00,6.00,40.00,1.00
50%,2018.00,10.00,5.00,20.00,40.00,1.00
75%,2018.00,15.00,10.00,70.00,45.00,1.00
max,2019.00,53716.00,40.00,500000.00,200.00,1.00

In [264]:
# check value counts in each column
for col in df.columns:
    print('\n', f'Value counts for column {col}:',)
    print(df[col].value_counts())

 Value counts for column Survey Year:
2018    3113
2017    2898
2019     882
Name: Survey Year, dtype: int64

 Value counts for column Timestamp:
1/5/2017 12:03:55      3
1/5/2017 11:13:26      3
1/5/2017 11:21:32      2
1/9/2017 8:15:36       2
1/5/2017 11:20:01      2
12/18/2017 12:59:55    2
12/20/2017 11:19:17    2
1/5/2017 12:03:14      2
1/5/2017 11:30:36      2
1/5/2017 11:56:07      2
12/20/2017 8:52:34     2
1/5/2017 11:18:19      2
12/12/2017 11:39:19    2
12/20/2017 11:21:26    2
12/20/2017 11:21:27    2
1/6/2017 2:47:21       2
1/5/2017 13:25:34      2
1/5/2017 11:21:59      2
1/5/2017 11:17:17      2
12/20/2017 9:12:59     2
1/9/2017 10:22:58      2
1/5/2017 11:22:39      2
12/21/2018 16:49:48    2
1/9/2017 8:10:00       2
1/9/2017 8:09:13       2
1/5/2017 11:23:43      2
12/12/2017 11:27:39    2
12/20/2017 9:17:44     2
1/5/2017 11:24:44      2
1/5/2017 11:25:00      2
1/5/2017 11:48:25      2
12/11/2018 9:24:55     2
1/5/2017 11:17:39      2
1/5/2017 11:17:06      2
12/12/2017 11:25:25    2
12/20/2017 8:12:38     2
12/12/2017 11:56:23    2
1/9/2017 14:46:09      2
12/20/2017 11:44:39    2
1/2/2018 8:05:39       2
1/5/2017 11:12:20      2
12/20/2017 8:16:36     2
1/5/2017 11:13:21      2
1/9/2017 9:08:20       2
1/5/2017 11:13:57      2
1/9/2017 9:06:53       2
12/12/2017 11:49:24    2
12/12/2017 11:49:10    2
12/20/2017 12:01:43    2
1/9/2017 9:06:04       2
1/9/2017 8:30:53       2
1/9/2017 9:24:43       2
1/9/2017 9:24:53       2
1/9/2017 13:51:19      2
12/12/2017 11:46:50    2
1/9/2017 9:29:18       2
1/5/2017 11:15:44      2
12/12/2017 11:45:47    2
1/5/2017 11:15:53      2
1/5/2017 11:15:57      2
1/9/2017 13:38:03      2
1/5/2017 11:16:19      2
1/9/2017 9:39:13       2
1/9/2017 8:30:55       2
1/5/2017 16:11:51      2
12/18/2017 15:08:18    2
12/12/2017 11:24:22    2
1/5/2017 15:30:13      2
1/5/2017 11:34:58      2
1/5/2017 11:34:44      2
1/9/2017 3:48:22       2
1/5/2017 11:27:19      2
1/5/2017 11:26:59      2
1/5/2017 11:42:59      2
12/12/2017 11:24:33    2
1/5/2017 7:45:45       2
1/9/2017 3:21:42       2
12/20/2017 8:31:57     1
12/20/2017 8:32:07     1
12/20/2017 9:21:37     1
12/20/2017 8:32:31     1
12/20/2017 8:33:23     1
12/20/2017 9:38:28     1
12/20/2017 8:33:06     1
12/20/2017 8:30:18     1
12/20/2017 9:39:54     1
12/20/2017 8:31:00     1
12/20/2017 9:40:00     1
12/20/2017 8:33:55     1
12/20/2017 9:40:24     1
12/20/2017 9:41:01     1
12/20/2017 8:30:03     1
12/20/2017 9:42:12     1
12/20/2017 8:29:25     1
12/20/2017 8:33:28     1
12/20/2017 8:39:51     1
12/20/2017 8:36:15     1
12/20/2017 8:36:32     1
12/20/2017 9:32:36     1
12/20/2017 9:35:00     1
12/20/2017 8:47:35     1
12/20/2017 9:36:17     1
12/20/2017 9:37:10     1
12/20/2017 8:46:58     1
12/20/2017 8:46:49     1
12/20/2017 8:43:17     1
12/20/2017 8:43:04     1
12/20/2017 8:42:31     1
12/20/2017 8:42:10     1
12/20/2017 8:41:57     1
12/20/2017 9:38:16     1
12/20/2017 8:41:14     1
12/20/2017 8:28:51     1
12/20/2017 8:36:49     1
12/20/2017 8:36:35     1
12/20/2017 8:28:58     1
12/20/2017 9:44:51     1
12/20/2017 9:42:33     1
12/20/2017 8:22:31     1
12/20/2017 8:24:16     1
12/20/2017 8:24:05     1
12/20/2017 8:24:01     1
12/20/2017 8:23:57     1
12/20/2017 9:51:15     1
12/20/2017 9:51:17     1
12/20/2017 8:23:49     1
12/20/2017 8:22:32     1
12/20/2017 8:22:15     1
12/20/2017 8:27:54     1
12/20/2017 8:22:05     1
12/20/2017 8:21:33     1
12/20/2017 8:21:23     1
12/20/2017 8:21:00     1
12/20/2017 8:20:41     1
12/20/2017 9:52:31     1
12/20/2017 9:52:37     1
12/20/2017 9:53:59     1
12/20/2017 8:24:33     1
12/20/2017 9:50:50     1
12/20/2017 9:50:29     1
12/20/2017 8:24:43     1
12/20/2017 8:27:23     1
12/20/2017 9:43:55     1
12/20/2017 9:30:15     1
12/20/2017 8:27:21     1
12/20/2017 9:44:52     1
12/20/2017 9:47:07     1
12/20/2017 9:48:02     1
12/20/2017 8:27:18     1
12/20/2017 9:48:08     1
12/20/2017 8:27:11     1
12/20/2017 9:48:20     1
12/20/2017 9:48:37     1
12/20/2017 9:48:44     1
12/20/2017 8:25:57     1
12/20/2017 8:25:37     1
12/20/2017 8:25:33     1
12/20/2017 8:25:18     1
12/20/2017 9:31:07     1
12/20/2017 8:48:31     1
12/20/2017 9:29:59     1
12/20/2017 9:25:12     1
12/20/2017 9:23:52     1
12/20/2017 9:24:40     1
12/20/2017 9:14:17     1
12/20/2017 9:14:16     1
12/20/2017 9:14:03     1
12/20/2017 9:24:50     1
12/20/2017 9:13:47     1
12/20/2017 9:13:45     1
12/20/2017 9:13:21     1
12/20/2017 9:14:53     1
12/20/2017 9:25:40     1
12/20/2017 9:13:03     1
12/20/2017 9:25:56     1
12/20/2017 9:12:58     1
12/20/2017 9:12:53     1
12/20/2017 9:12:46     1
12/20/2017 9:12:37     1
12/20/2017 9:12:00     1
12/20/2017 9:14:52     1
12/20/2017 9:15:36     1
12/20/2017 8:47:51     1
12/20/2017 9:19:51     1
12/20/2017 9:20:56     1
12/20/2017 9:21:52     1
12/20/2017 9:20:44     1
12/20/2017 9:20:41     1
12/20/2017 9:20:37     1
12/20/2017 9:20:04     1
12/20/2017 9:19:58     1
12/20/2017 9:22:03     1
12/20/2017 9:22:52     1
12/20/2017 9:23:34     1
12/20/2017 9:19:34     1
12/20/2017 9:23:22     1
12/20/2017 9:19:01     1
12/20/2017 9:18:24     1
12/20/2017 9:17:59     1
12/20/2017 9:17:03     1
12/20/2017 9:16:19     1
12/20/2017 9:15:53     1
12/20/2017 9:11:52     1
12/20/2017 9:11:42     1
12/20/2017 9:26:37     1
12/20/2017 8:53:23     1
12/20/2017 8:56:43     1
12/20/2017 8:55:56     1
12/20/2017 8:55:41     1
12/20/2017 8:55:02     1
12/20/2017 8:54:21     1
12/20/2017 9:27:59     1
12/20/2017 9:28:05     1
12/20/2017 9:28:53     1
12/20/2017 8:53:01     1
12/20/2017 9:11:41     1
12/20/2017 9:29:06     1
12/20/2017 8:51:55     1
12/20/2017 8:51:52     1
12/20/2017 9:29:08     1
12/20/2017 8:51:24     1
12/20/2017 8:50:49     1
12/20/2017 9:29:38     1
12/20/2017 9:21:11     1
12/20/2017 8:57:06     1
12/20/2017 9:00:59     1
12/20/2017 9:01:10     1
12/20/2017 9:27:58     1
12/20/2017 9:26:50     1
12/20/2017 9:27:22     1
12/20/2017 9:11:28     1
12/20/2017 9:11:18     1
12/20/2017 9:10:49     1
12/20/2017 9:10:08     1
12/20/2017 8:20:11     1
12/20/2017 9:27:26     1
12/20/2017 9:09:38     1
12/20/2017 9:08:24     1
12/20/2017 9:08:09     1
12/20/2017 9:07:32     1
12/20/2017 9:03:43     1
12/20/2017 9:03:11     1
12/20/2017 9:02:53     1
12/20/2017 9:02:48     1
12/20/2017 9:02:14     1
12/20/2017 9:10:01     1
12/20/2017 8:17:43     1
12/20/2017 8:20:07     1
12/19/2017 17:47:00    1
12/19/2017 23:25:25    1
12/19/2017 22:51:50    1
12/19/2017 22:30:44    1
12/19/2017 22:15:49    1
12/19/2017 22:09:07    1
12/19/2017 22:03:25    1
12/19/2017 21:23:40    1
12/19/2017 21:18:09    1
12/19/2017 20:35:06    1
12/19/2017 20:14:54    1
12/19/2017 19:59:45    1
12/19/2017 19:59:13    1
12/19/2017 19:39:04    1
12/19/2017 19:35:54    1
12/19/2017 19:32:30    1
12/19/2017 19:21:53    1
12/19/2017 18:48:13    1
12/19/2017 18:43:08    1
12/19/2017 18:39:55    1
12/19/2017 18:35:52    1
12/19/2017 18:26:50    1
12/19/2017 18:20:57    1
12/19/2017 18:18:03    1
12/19/2017 18:14:56    1
12/19/2017 18:08:52    1
12/20/2017 0:18:59     1
12/20/2017 1:05:29     1
12/20/2017 1:06:42     1
12/20/2017 2:24:05     1
12/20/2017 2:43:46     1
12/20/2017 2:41:44     1
12/20/2017 2:41:05     1
12/20/2017 2:40:44     1
12/20/2017 2:38:31     1
12/20/2017 2:36:27     1
12/20/2017 2:36:10     1
12/20/2017 2:31:22     1
12/20/2017 2:29:51     1
12/20/2017 2:28:13     1
12/20/2017 2:26:04     1
12/20/2017 2:20:20     1
12/20/2017 1:08:44     1
12/20/2017 2:18:01     1
12/20/2017 2:14:51     1
12/20/2017 2:14:07     1
12/20/2017 2:12:08     1
12/20/2017 2:07:47     1
12/20/2017 2:04:13     1
12/20/2017 1:48:33     1
12/20/2017 1:32:32     1
12/20/2017 1:31:58     1
12/20/2017 1:30:37     1
12/20/2017 1:15:18     1
12/19/2017 18:06:53    1
12/19/2017 17:36:34    1
12/20/2017 8:19:43     1
12/19/2017 17:24:29    1
12/19/2017 14:36:12    1
12/19/2017 14:33:43    1
12/19/2017 14:30:19    1
12/19/2017 14:26:26    1
12/19/2017 14:25:13    1
12/19/2017 14:08:33    1
12/19/2017 14:05:43    1
12/19/2017 13:51:11    1
12/19/2017 13:50:33    1
12/19/2017 13:50:07    1
12/19/2017 13:46:41    1
12/19/2017 13:37:31    1
12/19/2017 13:36:47    1
12/19/2017 13:35:21    1
12/19/2017 13:32:55    1
12/19/2017 13:32:48    1
12/19/2017 13:26:20    1
12/19/2017 13:17:57    1
12/19/2017 13:17:10    1
12/19/2017 13:16:51    1
12/19/2017 13:14:43    1
12/19/2017 13:04:22    1
12/19/2017 13:03:08    1
12/19/2017 13:00:04    1
12/19/2017 12:59:40    1
12/19/2017 14:40:54    1
12/19/2017 14:48:17    1
12/19/2017 14:49:25    1
12/19/2017 16:07:28    1
12/19/2017 17:23:29    1
12/19/2017 17:14:23    1
12/19/2017 17:08:34    1
12/19/2017 17:05:53    1
12/19/2017 16:57:49    1
12/19/2017 16:49:31    1
12/19/2017 16:20:49    1
12/19/2017 16:19:57    1
12/19/2017 16:13:19    1
12/19/2017 16:13:18    1
12/19/2017 16:08:37    1
12/19/2017 16:06:36    1
12/19/2017 14:51:02    1
12/19/2017 16:05:30    1
12/19/2017 16:04:42    1
12/19/2017 16:03:24    1
12/19/2017 15:48:24    1
12/19/2017 15:42:50    1
12/19/2017 15:42:45    1
12/19/2017 15:30:21    1
12/19/2017 15:24:58    1
12/19/2017 15:13:11    1
12/19/2017 14:56:34    1
12/19/2017 14:52:35    1
12/20/2017 2:49:31     1
12/20/2017 2:53:11     1
12/20/2017 2:54:53     1
12/20/2017 2:57:50     1
12/20/2017 8:12:43     1
12/20/2017 8:12:37     1
12/20/2017 8:12:28     1
12/20/2017 8:12:13     1
12/20/2017 8:12:03     1
12/20/2017 8:11:54     1
12/20/2017 8:11:44     1
12/20/2017 8:11:43     1
12/20/2017 8:11:28     1
12/20/2017 8:11:23     1
12/20/2017 8:11:16     1
12/20/2017 8:11:06     1
12/20/2017 8:11:03     1
12/20/2017 8:10:29     1
12/20/2017 8:10:24     1
12/20/2017 8:10:14     1
12/20/2017 8:09:59     1
12/20/2017 8:09:58     1
12/20/2017 8:09:49     1
12/20/2017 8:09:48     1
12/20/2017 8:09:45     1
12/20/2017 8:09:38     1
12/20/2017 8:04:19     1
12/20/2017 7:51:20     1
12/20/2017 7:47:44     1
12/20/2017 8:12:56     1
12/20/2017 8:13:10     1
12/20/2017 8:13:32     1
12/20/2017 8:16:45     1
12/20/2017 8:19:00     1
12/20/2017 8:18:41     1
12/20/2017 8:18:19     1
12/20/2017 8:18:16     1
12/20/2017 8:17:58     1
12/20/2017 8:17:51     1
12/20/2017 9:55:50     1
12/20/2017 8:17:28     1
12/20/2017 8:17:22     1
12/20/2017 8:17:21     1
12/20/2017 8:16:56     1
12/20/2017 8:16:31     1
12/20/2017 8:13:33     1
12/20/2017 8:16:28     1
12/20/2017 8:16:07     1
12/20/2017 8:16:05     1
12/20/2017 8:15:51     1
12/20/2017 8:15:12     1
12/20/2017 8:14:34     1
12/20/2017 8:14:33     1
12/20/2017 8:14:26     1
12/20/2017 8:14:23     1
12/20/2017 8:13:49     1
12/20/2017 8:13:45     1
12/20/2017 7:43:46     1
12/20/2017 7:42:53     1
12/20/2017 7:18:01     1
12/20/2017 3:19:43     1
12/20/2017 3:46:38     1
12/20/2017 3:42:11     1
12/20/2017 3:36:55     1
12/20/2017 3:36:34     1
12/20/2017 3:34:27     1
12/20/2017 3:33:59     1
12/20/2017 3:29:44     1
12/20/2017 3:28:22     1
12/20/2017 3:25:58     1
12/20/2017 3:22:20     1
12/20/2017 3:21:24     1
12/20/2017 3:19:32     1
12/20/2017 3:50:51     1
12/20/2017 3:16:14     1
12/20/2017 3:14:37     1
12/20/2017 3:13:03     1
12/20/2017 3:11:25     1
12/20/2017 3:10:51     1
12/20/2017 3:10:15     1
12/20/2017 3:08:12     1
12/20/2017 3:06:48     1
12/20/2017 3:04:47     1
12/20/2017 3:03:35     1
12/20/2017 3:03:09     1
12/20/2017 3:49:12     1
12/20/2017 3:59:49     1
12/20/2017 7:07:11     1
12/20/2017 5:30:03     1
12/20/2017 6:48:39     1
12/20/2017 6:44:45     1
12/20/2017 6:40:17     1
12/20/2017 6:35:17     1
12/20/2017 6:29:26     1
12/20/2017 6:25:21     1
12/20/2017 6:19:16     1
12/20/2017 6:17:07     1
12/20/2017 6:01:00     1
12/20/2017 5:45:18     1
12/20/2017 5:30:40     1
12/20/2017 5:25:18     1
12/20/2017 4:09:58     1
12/20/2017 5:16:37     1
12/20/2017 5:12:34     1
12/20/2017 4:59:56     1
12/20/2017 4:56:45     1
12/20/2017 4:47:27     1
12/20/2017 4:46:58     1
12/20/2017 4:39:53     1
12/20/2017 4:34:22     1
12/20/2017 4:34:13     1
12/20/2017 4:21:05     1
12/20/2017 4:16:10     1
12/20/2017 9:55:44     1
1/5/2017 5:10:20       1
12/20/2017 9:56:44     1
12/20/2017 11:56:09    1
12/20/2017 13:17:29    1
12/20/2017 13:15:47    1
12/20/2017 13:14:37    1
12/20/2017 13:13:53    1
12/20/2017 13:13:38    1
12/20/2017 13:13:06    1
12/20/2017 13:12:47    1
12/20/2017 13:09:58    1
12/20/2017 13:09:05    1
12/20/2017 13:08:47    1
12/20/2017 13:07:01    1
12/20/2017 13:04:42    1
12/20/2017 13:00:23    1
12/20/2017 12:57:29    1
12/20/2017 12:57:17    1
12/20/2017 12:56:12    1
12/20/2017 12:54:33    1
12/20/2017 12:53:21    1
12/20/2017 12:53:19    1
12/20/2017 12:52:42    1
12/20/2017 12:51:08    1
12/20/2017 12:50:44    1
12/20/2017 12:50:30    1
12/20/2017 13:18:23    1
12/20/2017 13:19:33    1
12/20/2017 13:19:55    1
12/20/2017 13:42:36    1
12/20/2017 13:57:26    1
12/20/2017 13:56:55    1
12/20/2017 13:56:40    1
12/20/2017 13:55:41    1
12/20/2017 13:53:53    1
12/20/2017 13:53:32    1
12/20/2017 13:51:32    1
12/20/2017 13:50:40    1
12/20/2017 13:49:30    1
12/20/2017 13:46:35    1
12/20/2017 13:39:06    1
12/20/2017 13:24:01    1
12/20/2017 13:37:37    1
12/20/2017 13:37:07    1
12/20/2017 13:29:15    1
12/20/2017 13:28:25    1
12/20/2017 13:28:04    1
12/20/2017 13:27:41    1
12/20/2017 13:26:42    1
12/20/2017 13:25:59    1
12/20/2017 13:25:42    1
12/20/2017 13:25:00    1
12/20/2017 12:50:03    1
12/20/2017 12:49:06    1
12/20/2017 12:48:50    1
12/20/2017 12:07:17    1
12/20/2017 12:12:54    1
12/20/2017 12:11:43    1
12/20/2017 12:11:20    1
12/20/2017 12:10:54    1
12/20/2017 12:10:26    1
12/20/2017 12:09:33    1
12/20/2017 12:08:54    1
12/20/2017 12:08:24    1
12/20/2017 12:07:53    1
12/20/2017 12:07:18    1
12/20/2017 12:05:41    1
12/20/2017 12:16:48    1
12/20/2017 12:03:52    1
12/20/2017 12:03:45    1
12/20/2017 12:03:32    1
12/20/2017 12:03:19    1
12/20/2017 12:02:38    1
12/20/2017 12:00:04    1
12/20/2017 11:58:07    1
12/20/2017 11:57:51    1
12/20/2017 11:56:51    1
12/20/2017 11:56:18    1
12/20/2017 12:15:21    1
12/20/2017 12:16:55    1
12/20/2017 12:46:04    1
12/20/2017 12:34:53    1
12/20/2017 12:45:37    1
12/20/2017 12:45:15    1
12/20/2017 12:44:27    1
12/20/2017 12:43:50    1
12/20/2017 12:43:19    1
12/20/2017 12:41:05    1
12/20/2017 12:39:35    1
12/20/2017 12:37:17    1
12/20/2017 12:36:07    1
12/20/2017 12:36:00    1
12/20/2017 12:34:15    1
12/20/2017 12:18:57    1
12/20/2017 12:33:51    1
12/20/2017 12:31:15    1
12/20/2017 12:29:08    1
12/20/2017 12:26:44    1
12/20/2017 12:24:36    1
12/20/2017 12:24:35    1
12/20/2017 12:22:13    1
12/20/2017 12:20:41    1
12/20/2017 12:20:05    1
12/20/2017 12:19:47    1
12/20/2017 13:58:06    1
12/20/2017 13:58:47    1
12/20/2017 14:00:49    1
12/20/2017 17:05:37    1
12/20/2017 17:49:12    1
12/20/2017 17:43:43    1
12/20/2017 17:36:54    1
12/20/2017 17:35:55    1
12/20/2017 17:26:37    1
12/20/2017 17:24:41    1
12/20/2017 17:19:17    1
12/20/2017 17:17:38    1
12/20/2017 17:16:50    1
12/20/2017 17:11:30    1
12/20/2017 17:00:15    1
12/20/2017 17:56:34    1
12/20/2017 16:59:28    1
12/20/2017 16:56:40    1
12/20/2017 16:54:38    1
12/20/2017 16:54:26    1
12/20/2017 16:51:42    1
12/20/2017 16:50:32    1
12/20/2017 16:46:48    1
12/20/2017 16:45:00    1
12/20/2017 16:41:52    1
12/20/2017 16:37:57    1
12/20/2017 17:53:21    1
12/20/2017 18:02:41    1
12/20/2017 16:28:39    1
12/20/2017 20:00:25    1
12/20/2017 22:14:12    1
12/20/2017 22:08:37    1
12/20/2017 22:03:56    1
12/20/2017 21:50:46    1
12/20/2017 21:36:49    1
12/20/2017 21:25:13    1
12/20/2017 20:55:52    1
12/20/2017 20:30:16    1
12/20/2017 20:13:05    1
12/20/2017 20:12:48    1
12/20/2017 19:58:08    1
12/20/2017 18:27:24    1
12/20/2017 19:56:58    1
12/20/2017 19:53:42    1
12/20/2017 19:40:03    1
12/20/2017 19:09:13    1
12/20/2017 19:04:32    1
12/20/2017 19:01:19    1
12/20/2017 18:58:17    1
12/20/2017 18:41:10    1
12/20/2017 18:39:22    1
12/20/2017 18:38:39    1
12/20/2017 16:36:06    1
12/20/2017 16:26:40    1
12/20/2017 14:04:36    1
12/20/2017 14:31:59    1
12/20/2017 14:59:01    1
12/20/2017 14:58:26    1
12/20/2017 14:57:05    1
12/20/2017 14:55:34    1
12/20/2017 14:54:30    1
12/20/2017 14:49:51    1
12/20/2017 14:47:39    1
12/20/2017 14:45:09    1
12/20/2017 14:41:16    1
12/20/2017 14:32:38    1
12/20/2017 14:24:22    1
12/20/2017 15:07:03    1
12/20/2017 14:24:17    1
12/20/2017 14:22:47    1
12/20/2017 14:22:22    1
12/20/2017 14:18:29    1
12/20/2017 14:17:36    1
12/20/2017 14:14:21    1
12/20/2017 14:09:50    1
12/20/2017 14:07:25    1
12/20/2017 14:04:55    1
12/20/2017 14:04:38    1
12/20/2017 15:03:51    1
12/20/2017 15:09:21    1
12/20/2017 16:23:14    1
12/20/2017 15:51:23    1
12/20/2017 16:19:09    1
12/20/2017 16:17:27    1
12/20/2017 16:14:57    1
12/20/2017 16:12:14    1
12/20/2017 16:11:08    1
12/20/2017 16:11:05    1
12/20/2017 15:59:14    1
12/20/2017 15:56:44    1
12/20/2017 15:55:24    1
12/20/2017 15:53:29    1
12/20/2017 15:49:14    1
12/20/2017 15:10:13    1
12/20/2017 15:48:30    1
12/20/2017 15:43:47    1
12/20/2017 15:39:57    1
12/20/2017 15:36:46    1
12/20/2017 15:27:45    1
12/20/2017 15:22:55    1
12/20/2017 15:20:32    1
12/20/2017 15:18:36    1
12/20/2017 15:17:04    1
12/20/2017 15:15:09    1
12/20/2017 11:56:11    1
12/20/2017 11:55:04    1
12/20/2017 9:57:00     1
12/20/2017 11:55:01    1
12/20/2017 10:53:34    1
12/20/2017 10:52:43    1
12/20/2017 10:52:30    1
12/20/2017 10:50:30    1
12/20/2017 10:51:02    1
12/20/2017 10:46:38    1
12/20/2017 10:45:54    1
12/20/2017 10:44:14    1
12/20/2017 10:42:53    1
12/20/2017 10:42:43    1
12/20/2017 10:42:03    1
12/20/2017 10:41:40    1
12/20/2017 10:40:26    1
12/20/2017 10:38:43    1
12/20/2017 10:38:28    1
12/20/2017 10:38:14    1
12/20/2017 10:36:09    1
12/20/2017 10:36:06    1
12/20/2017 10:33:06    1
12/20/2017 10:33:00    1
12/20/2017 10:28:08    1
12/20/2017 10:28:06    1
12/20/2017 10:27:18    1
12/20/2017 10:53:45    1
12/20/2017 10:55:56    1
12/20/2017 10:56:31    1
12/20/2017 11:14:04    1
12/20/2017 11:16:26    1
12/20/2017 11:16:20    1
12/20/2017 11:16:04    1
12/20/2017 11:15:50    1
12/20/2017 11:15:30    1
12/20/2017 11:14:51    1
12/20/2017 11:14:41    1
12/20/2017 11:14:21    1
12/20/2017 11:14:14    1
12/20/2017 11:14:08    1
12/20/2017 11:13:56    1
12/20/2017 10:57:00    1
12/20/2017 11:13:50    1
12/20/2017 11:13:42    1
12/20/2017 11:11:10    1
12/20/2017 11:07:54    1
12/20/2017 11:06:09    1
12/20/2017 11:05:45    1
12/20/2017 11:04:19    1
12/20/2017 11:03:38    1
12/20/2017 11:00:52    1
12/20/2017 10:57:04    1
12/20/2017 10:25:13    1
12/20/2017 10:23:53    1
12/20/2017 10:23:48    1
12/20/2017 10:04:59    1
12/20/2017 10:09:08    1
12/20/2017 10:08:40    1
12/20/2017 10:08:39    1
12/20/2017 10:08:22    1
12/20/2017 10:06:23    1
12/20/2017 10:06:16    1
12/20/2017 10:05:51    1
12/20/2017 10:05:55    1
12/20/2017 10:05:39    1
12/20/2017 10:05:28    1
12/20/2017 10:04:56    1
12/19/2017 12:53:04    1
12/20/2017 10:04:53    1
12/20/2017 10:04:29    1
12/20/2017 10:03:57    1
12/20/2017 10:02:52    1
12/20/2017 10:02:37    1
12/20/2017 9:59:50     1
12/20/2017 9:59:06     1
12/20/2017 9:58:31     1
12/20/2017 9:58:17     1
12/20/2017 9:57:56     1
12/20/2017 10:09:17    1
12/20/2017 10:09:28    1
12/20/2017 10:22:37    1
12/20/2017 10:13:58    1
12/20/2017 10:22:16    1
12/20/2017 10:22:04    1
12/20/2017 10:20:05    1
12/20/2017 10:19:47    1
12/20/2017 10:17:36    1
12/20/2017 10:16:57    1
12/20/2017 10:15:16    1
12/20/2017 10:14:52    1
12/20/2017 10:14:44    1
12/20/2017 10:14:12    1
12/20/2017 10:13:47    1
12/20/2017 10:09:36    1
12/20/2017 10:13:01    1
12/20/2017 10:12:51    1
12/20/2017 10:12:49    1
12/20/2017 10:12:23    1
12/20/2017 10:12:09    1
12/20/2017 10:11:37    1
12/20/2017 10:11:33    1
12/20/2017 10:10:47    1
12/20/2017 10:10:38    1
12/20/2017 10:09:53    1
12/20/2017 11:16:43    1
12/20/2017 11:17:17    1
12/20/2017 11:17:30    1
12/20/2017 11:35:06    1
12/20/2017 11:39:43    1
12/20/2017 11:39:11    1
12/20/2017 11:39:00    1
12/20/2017 11:38:59    1

Observation: From the overview:

- Column 'Gender' does not contain useful information.

In [265]:
# create an identifier column
df = df.reset_index()
df = df.rename(columns = {"index": "id"})

## III. Data Wrangling

### III.1. Drop columns

**Reasons for dropping columns:**
- 'Timestamp': irrelevant to the data analysis.

- 'PostalCode': deemed unreliable by the author.

- 'Counter': a monovalue column, which is redundant regarding data analysis.

In [266]:
# drop columns 'Gender', 'PostalCode' & 'Counter' from df
df = df.drop(columns = ['Gender', 'PostalCode', 'Counter'])

In [267]:
# check the current columns
df.columns

Index(['id', 'Survey Year', 'Timestamp', 'SalaryUSD', 'Country',
       'PrimaryDatabase', 'YearsWithThisDatabase', 'OtherDatabases',
       'EmploymentStatus', 'JobTitle', 'ManageStaff', 'YearsWithThisTypeOfJob',
       'HowManyCompanies', 'OtherPeopleOnYourTeam', 'CompanyEmployeesOverall',
       'DatabaseServers', 'Education', 'EducationIsComputerRelated',
       'Certifications', 'HoursWorkedPerWeek', 'TelecommuteDaysPerWeek',
       'PopulationOfLargestCityWithin20Miles', 'EmploymentSector',
       'LookingForAnotherJob', 'CareerPlansThisYear', 'OtherJobDuties',
       'KindsOfTasksPerformed'],
      dtype='object')

### III.2. Rename columns

All columns are renamed using snake case to conform with Python naming covention.

Some columns, such as 'DatabaseServers' or 'TelecommuteDaysPerWeek' are also renamed in such a way that they are more easily understandable.

In [268]:
# define a dictionary of old & new column names
new_cols = {
    'Timestamp' : 'timestamp',
    'Survey Year' : 'survey_year',
    'SalaryUSD' : 'salary_in_usd',
    'Country' : 'country',
    'PrimaryDatabase' : 'primary_db',
    'YearsWithThisDatabase' : 'years_of_exp_with_primary_db',
    'OtherDatabases' : 'other_dbs',
    'EmploymentStatus' : 'employment_status',
    'JobTitle' : 'job_title',
    'ManageStaff' : 'manage_staff',
    'YearsWithThisTypeOfJob' : 'years_of_exp_with_data_jobs',
    'HowManyCompanies' : 'number_of_companies_worked_for',
    'OtherPeopleOnYourTeam' : 'number_of_team_members',
    'CompanyEmployeesOverall' : 'number_of_company_employees',
    'DatabaseServers' : 'number_of_db_servers',
    'Education' : 'education',
    'EducationIsComputerRelated' : 'education_is_computer_related',
    'Certifications' : 'certifications',
    'HoursWorkedPerWeek' : 'hours_worked_per_week',
    'TelecommuteDaysPerWeek' : 'wfh_days_per_week',
    'PopulationOfLargestCityWithin20Miles' : 'pop_of_largest_city_within_20_miles',
    'EmploymentSector' : 'employment_sector',
    'LookingForAnotherJob' : 'looking_for_another_job',
    'CareerPlansThisYear' : 'career_plans_this_year',
    'Gender' : 'gender',
    'OtherJobDuties' : 'other_job_duties',
    'KindsOfTasksPerformed' : 'tasks_perfomed'
}

In [269]:
# rename the columns
df = df.rename(columns = new_cols)

In [270]:
# check the updated column names
df.columns

Index(['id', 'survey_year', 'timestamp', 'salary_in_usd', 'country',
       'primary_db', 'years_of_exp_with_primary_db', 'other_dbs',
       'employment_status', 'job_title', 'manage_staff',
       'years_of_exp_with_data_jobs', 'number_of_companies_worked_for',
       'number_of_team_members', 'number_of_company_employees',
       'number_of_db_servers', 'education', 'education_is_computer_related',
       'certifications', 'hours_worked_per_week', 'wfh_days_per_week',
       'pop_of_largest_city_within_20_miles', 'employment_sector',
       'looking_for_another_job', 'career_plans_this_year', 'other_job_duties',
       'tasks_perfomed'],
      dtype='object')

## IV. Data Consistency Checks

### IV.1. Find & address missing data

In [271]:
# check for missing values
df.isnull().sum()

id                                        0
survey_year                               0
timestamp                                 0
salary_in_usd                             0
country                                   0
primary_db                                0
years_of_exp_with_primary_db              0
other_dbs                              1373
employment_status                         0
job_title                                 0
manage_staff                              0
years_of_exp_with_data_jobs               0
number_of_companies_worked_for            0
number_of_team_members                    0
number_of_company_employees               0
number_of_db_servers                      0
education                                 0
education_is_computer_related          1216
certifications                            0
hours_worked_per_week                     0
wfh_days_per_week                         0
pop_of_largest_city_within_20_miles       0
employment_sector                         0
looking_for_another_job                   0
career_plans_this_year                    0
other_job_duties                        620
tasks_perfomed                          207
dtype: int64

In [272]:
# check columns with missing values
df[['other_dbs', 'education_is_computer_related', 'other_job_duties', 'tasks_perfomed']].sample(5)

,other_dbs,education_is_computer_related,other_job_duties,tasks_perfomed
3155,"Microsoft SQL Server, Azure SQL DB",NaN,"DBA (Development Focus - tunes queries, indexe...","Build scripts & automation tools, Manual tasks..."
4705,"Microsoft SQL Server, MySQL/MariaDB, SQLite, A...",Yes,"Analyst, Architect, Developer: T-SQL, Manager","Meetings & management, Projects"
175,"MongoDB, Amazon RDS (any flavor)",Yes,Not Asked,Not Asked
2535,Oracle,No,Not Asked,Not Asked
5000,NaN,No,Engineer,"Build scripts & automation tools, Manual tasks..."

**Observation:** It appears that the missing values are due to respondents not providing the information when surveyed.

In [273]:
# impute missing values with 'Not Provided'
df = df.fillna('Not Provided')

In [274]:
# check columns with previously missing values
df[['other_dbs', 'education_is_computer_related', 'other_job_duties', 'tasks_perfomed']].sample(5)

,other_dbs,education_is_computer_related,other_job_duties,tasks_perfomed
1307,"Oracle, MySQL/MariaDB, Microsoft Access, SQLit...",No,Not Asked,Not Asked
2600,"Oracle, DB2, Microsoft Access",Yes,Not Asked,Not Asked
1370,"MySQL/MariaDB, MongoDB",Yes,Not Asked,Not Asked
3767,Oracle,Yes,"DBA (Development Focus - tunes queries, indexe...","Build scripts & automation tools, Manual tasks..."
2006,"MySQL/MariaDB, PostgreSQL, Microsoft Access",Not Provided,Not Asked,Not Asked

### IV.2. Find & address mix-type data

In [275]:
# check for mixed-type columns
for col in df.columns.tolist():
    weird = (
        df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)
        ).any(axis = 1)
    if len (df[weird]) >0:
        print(col, ': mixed types')

**Observation:** The data does not contain any mixed-type column.

### IV.3. Find & address duplicates

In [276]:
# create a subset of full duplicates from df
df_dupes = df[df.duplicated()]
df_dupes

Empty DataFrame
Columns: [id, survey_year, timestamp, salary_in_usd, country, primary_db, years_of_exp_with_primary_db, other_dbs, employment_status, job_title, manage_staff, years_of_exp_with_data_jobs, number_of_companies_worked_for, number_of_team_members, number_of_company_employees, number_of_db_servers, education, education_is_computer_related, certifications, hours_worked_per_week, wfh_days_per_week, pop_of_largest_city_within_20_miles, employment_sector, looking_for_another_job, career_plans_this_year, other_job_duties, tasks_perfomed]
Index: []

The data does not contain any duplicate.

### IV.4. Find & address abnormal data

In [277]:
# overview of df
df.sample(3)

,id,survey_year,timestamp,salary_in_usd,country,primary_db,years_of_exp_with_primary_db,other_dbs,employment_status,job_title,manage_staff,years_of_exp_with_data_jobs,number_of_companies_worked_for,number_of_team_members,number_of_company_employees,number_of_db_servers,education,education_is_computer_related,certifications,hours_worked_per_week,wfh_days_per_week,pop_of_largest_city_within_20_miles,employment_sector,looking_for_another_job,career_plans_this_year,other_job_duties,tasks_perfomed
4109,4109,2018,12/18/2017 14:58:30,45500,United Kingdom,Microsoft SQL Server,6,Not Provided,Full time employee,Developer: T-SQL,No,5,Not Asked,2,Not Asked,30,Associates (2 years),Yes,"Yes, and they're currently valid",38,"None, or less than 1 day per week",Not Asked,Private business,"Yes, actively looking for something else","Stay with the same role, but change employers","Developer: Business Intelligence (SSRS, PowerB...","Build scripts & automation tools, Projects"
1590,1590,2017,1/7/2017 3:32:54,85000,Hong Kong,Microsoft SQL Server,8,Not Provided,Full time employee,DBA,Yes,2,Not Asked,None,Not Asked,3,Bachelors (4 years),Yes,"Yes, and they're currently valid",45,1,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked
2234,2234,2017,1/9/2017 11:21:43,95000,United States,Microsoft SQL Server,22,"Oracle, MySQL/MariaDB, MongoDB, Microsoft Access",Full time employee,DBA,Yes,1,Not Asked,None,Not Asked,78,Masters,No,"Yes, but they expired",42,"None, or less than 1 day per week",Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked

In [278]:
# get current columns
df.columns

Index(['id', 'survey_year', 'timestamp', 'salary_in_usd', 'country',
       'primary_db', 'years_of_exp_with_primary_db', 'other_dbs',
       'employment_status', 'job_title', 'manage_staff',
       'years_of_exp_with_data_jobs', 'number_of_companies_worked_for',
       'number_of_team_members', 'number_of_company_employees',
       'number_of_db_servers', 'education', 'education_is_computer_related',
       'certifications', 'hours_worked_per_week', 'wfh_days_per_week',
       'pop_of_largest_city_within_20_miles', 'employment_sector',
       'looking_for_another_job', 'career_plans_this_year', 'other_job_duties',
       'tasks_perfomed'],
      dtype='object')

In [279]:
# get descriptive statistics on columns
df.describe()

,id,survey_year,years_of_exp_with_primary_db,years_of_exp_with_data_jobs,number_of_db_servers,hours_worked_per_week
count,6893.00,6893.00,6893.00,6893.00,6893.00,6893.00
mean,3446.00,2017.71,24.58,7.17,256.35,43.17
std,1989.98,0.68,744.83,6.33,6261.02,7.03
min,0.00,2017.00,0.00,0.00,0.00,3.00
25%,1723.00,2017.00,6.00,3.00,6.00,40.00
50%,3446.00,2018.00,10.00,5.00,20.00,40.00
75%,5169.00,2018.00,15.00,10.00,70.00,45.00
max,6892.00,2019.00,53716.00,40.00,500000.00,200.00

**Observation:** 

- Column 'salary_in_usd' is expected to have numerical values, but it is currently non-numeric.

- Column 'years_of_exp_with_primary_db' has an abnormal miximum value (53716).

- Column 'hours_worked_per_week' has an abnormal miximum value (200 - equals to 8 days 8 hours per week).

#### IV.4.1. Column 'salary_in_usd'

In [280]:
# check the data type of column salary_in_usd
df['salary_in_usd'].dtype

dtype('O')

In [281]:
# check for abnormal values in column salary_in_usd
df['salary_in_usd'].drop_duplicates().sort_values(ascending = False)

3821         99800
3406         99600
3683         99500
3913      99348.12
468          99257
574          99220
6048         99100
54           99000
5396        99,600
5415        99,500
3869        99,000
4359         98866
433          98800
6491         98760
1964         98750
564          98670
410          98600
86           98517
498          98500
1851         98304
69           98000
3218        98,000
61           97500
3248         97335
734          97325
5145         97263
3314         97232
3064         97088
207          97000
5631        97,500
3093        97,000
6877         96700
2978         96600
1355         96500
316          96108
5115        960000
15           96000
3028        96,578
2941        96,000
2389         95800
5365         95612
3371         95600
211          95500
4754         95378
5298         95207
3403         95200
2332         95185
1661         95138
2            95000
4869        95,532
2904        95,000
4173         94994
750          94500
3833         94245
2391         94200
4115         94188
89           94000
3524     94,500.00
4364        94,000
271          93800
4405         93711
5657          9360
5930         93573
278          93500
6796         93480
5139         93396
4025         93156
878          93125
111          93000
4241        93,500
4079        93,000
1986         92950
2834         92822
3784         92750
4752         92747
792          92600
452          92500
1898         92425
4898         92103
2408         92100
218          92000
3259         92.27
3419        92,500
3306        92,000
4679         91865
251          91800
462          91520
2438         91500
1926         91484
1862         91400
941          91300
6780         91214
4489         91200
151          91000
2310          9100
3375        91,000
4026         90937
5320         90900
4056         90875
654          90756
2790         90500
6212         90250
16           90000
2430          9000
5222           900
4820     90,435.30
5744        90,200
3097        90,000
4291         9,900
6146         89814
4337         89750
4755         89600
487          89500
1202         89167
3666         89139
272          89035
708          89000
4020        89,600
3691        89,000
201          88900
2763         88833
799          88580
2090         88500
135          88130
6158         88050
6108         88002
124          88000
4376        88,000
2587         87992
2309         87890
5561         87700
3458         87683
2287         87603
4370         87600
844          87500
592          87491
1544         87400
582          87360
5706         87324
529          87100
117          87000
5259         87.83
5982        87,400
5358        87,227
4664        87,000
3643         86888
559          86735
6475         86708
2837         86700
773          86650
5371         86600
6725         86597
4533         86500
4763         86150
3210         86065
84           86006
489          86000
3788     86,000.00
3485        86,000
1558         85900
3161         85850
925          85661
6228         85654
1719         85600
5691         85585
5652         85544
3247         85540
4825         85500
3143         85488
1791         85232
6464         85216
6741         85200
99           85155
14           85000
1685          8500
4595        85,571
3081        85,000
363          84826
1363         84500
4614         84460
3017         84154
456          84048
35           84000
794           8400
4392        84,000
4391         83664
258          83599
4885         83500
4403         83234
2931         83232
3796        832031
6570         83200
6205         83018
19           83000
240           8300
5173        83,000
6268         82970
6209         82900
5736         82560
1705         82500
5243          8230
3769         82150
80           82000
1303          8200
5931        82,000
2365         81723
5913         81645
5467         81600
3216      81518.85
4431         81500
6201         81471
6879         81200
2731         81100
79           81000
3165        81,000
4179            81
375          80939
859          80751
4903         80500
4123         80330
5099         80300
2237         80262
4358         80200
6307         80104
4650         80100
1020         80080
5426        800000
27           80000
1323          8000
2937        80,000
3836         79928
5979         79860
6532         79800
1450         79750
184           7968
674          79509
2576         79500
1782         79300
5846         79280
1203         79240
3118         79150
1153         79000
3209        79,000
763          78852
991          78760
2969         78750
5569         78600
1873        785000
1441         78500
2398         78245
6254         78052
21           78000
5505          7800
4028        78,500
3066        78,250
3479        78,000
1269         77947
5526         77855
591          77850
2614         77800
6426         77700
6193         77624
46           77600
3397         77575
989          77500
6612         77374
817          77250
803          77200
6602         77191
5305         77155
3196         77140
1080         77056
435          77000
5387        77,650
5097        77,000
640          76800
3505         76780
650          76650
1199         76500
1255          7650
1768         76450
2597         76200
3737      76108.95
387          76000
5293        76,000
983          75720
2120         75600
4813         75524
1775         75500
5337         75344
4834         75200
1172          7515
4326         75110
3826         75100
5995         75080
6153        750000
6            75000
4374          7500
3766     75,000.00
3729        75,000
3806         74880
6165         74813
1720          7473
780          74500
538          74424
5750         74422
1448         74400
1416         74351
3229         74200
1090         74104
30           74000
3551        74,610
3426        74,560
3911        74,000
2248         73800
1936         73757
818          73745
904          73724
4493         73702
4717         73700
4395         73574
4786         73500
2150         73014
319          73000
5674        73,840
3508        73,000
53           72800
2675         72730
1433         72500
1026         72450
5224         72247
4278         72176
2451         72170
93           72000
4120        72,500
5322        72,446
3606        72,000
1016         71807
5048         71650
4495         71600
335          71594
698          71500
6775         71400
1592         71300
4394         71200
923          71000
5579        71,800
3736        71,000
5747         70879
2457         70863
85           70850
4269         70828
978          70800
2021         70788
76           70760
4849        705000
1264         70500
337          70400
6169         70180
83           70000
3772           700
3650        70,000
5234         7,500
6349         69990
6777         69894
2424         69882
458          69725
4693         69700
6722         69610
6379         69600
1073         69508
3425         69500
3577         69392
4904         69092
5972         69086
678          69000
5879        69,875
3573        69,000
1970         68950
4521         68500
5217        684000
4894         68367
731          68310
911          68255
854          68081
1015         68000
3129        68,475
3923        68,000
3381         67973
1027         67902
2983         67789
78           67770
5775         67700
4412         67600
3909         67500
567          67418
5917         67282
2823         67275
3776         67155
1493         67080
4498         67060
4486         67050
41           67000
735           6700
3746        67,164
4315        67,000
1740         66999
4468       66961.5
1837         66900
5923         66750
4544         66625
1155         66600
699          66500
1225         66400
1372         66300
4853         66152
3945       66084.4
6173         66050
17           66000
4059        66,954
3552        66,000
6419        66 000
3080         65995
3434         65870
6406         65770
2911         65750
1760         65723
4682         65700
1232         65642
3453         65610
4238         65505
1315         65500
2743         65400
136          65388
4918         65240
6289         65180
3962        6516.5
5701         65105
3775        650000
77           65000
5874        65,543
4144        65,500
4872        65,000
290          64775
720          64750
4491         64651
408          64500
2061         64480
4997         64477
2353         64460
2216         64300
2251         64280
2989         64186
5299         64179
110          64000
5154        64,000
2881         63600
196          63500
2185         63400
4922         63344
5316         63330
6540         63200
1239         63176
1894         63150
13           63000
5926        63,800
5676        63,000
5015        628857
4966         62700
412          62666
3938         62661
5749          6260
511          62500
3390         62400
5465         624.8
675          62391
1716         62250
4476         62239
3964         62171
1764         62109
3595         62100
203          62000
1173          6200
3493        62,000
6339         61903
1548         61900
2768         61800
2595         61773
5079         61763
4881         61671
4472         61636
141          61606
2656         61575
4479         61562
1            61515
3927         61500
1588         61475
6112         61400
5658         61386
4005         61206
6642         61200
1132         61000
2932        61,800
4666        61,200
4071        61,000
277          60900
2256         60782
1802         60750
6849         60650
2363         60500
1320         60477
872          60438
4588         60360
5588         60332
5095         60330
1191         60300
4511         60267
3820         60166
5206         60112
2958         60090
11           60000
3540        60,000
3615      59964.27
3569         59928
3257         59900
6405         59850
1522         59700
6301         59530
5125         59500
1251         59401
1484         59009
305          59000
4142         58775
3933         58750
3065         58665
2807         58560
2511         58500
1779         58430
2344         58368
6226         58250
6751         58180
102          58000
5249          5800
4135        58,500
3246        58,000
5198            58
1061         57800
1707         57740
4955         57706
3518           577
424          57512
2653        575000
390          57500
3603         57417
6581         57400
5584         57351
3734         57300
3346         57232
4246         57200
2574         57175
163          57000
4623        57,641
3429        57,000
4482         56900
4094         56800
6002         56700
4150         56550
4027         56500
4475         56280
1174         56200
2746         56173
601          56140
3            56000
5067        56,640
3942        56,600
5461        56,315
3323        56,250
4110        56,000
4316            56
401          55908
4444         55900
323          55845
320          55800
4684         55742
1230         55730
1200         55712
1235         55700
493          55670
391          55600
3391         55500
1397         55399
1564         55300
6142         55168
56           55000
1144          5500
3249        55,000
4507         54952
5200         54832
1826         54786
6374         54772
3848         54600
1142         54500
1292           545
6042      54409.68
6224         54330
5705         54100
997          54000
5309        54,577
4406        54,500
4857        54,462
5420        54,432
4970        54,000
4048         53942
6541         53860
3781         53700
3692         53631
4902         53620
5587         53600
524          53500
5664         53460
516          53343
1807         53300
4220         53128
239          53000
4907        53,443
3982        53,040
280          52970
4447         52942
6012         52922
847          52898
4104         52823
2052         52742
2011         52500
1767         52382
2543         52270
5629         52256
3975         52165
3528          5214
4516         52050
31           52000
4910        52,916
3207        52,490
3492        52,000
1984         51800
9            51652
1150         51500
4243         51475
2736         51284
1835         51101
3586         51037
70           51000
2514         50920
5219         50833
246          50750
4077         50700
148          50600
1850         50500
3034         50420
158          50400
3560         50393
4439         50250
6288         50140
5228         50100
3181         50085
6070        500000
55           50000
1712          5000
2914        50,000
5968        50 621
952          49900
4884      49793.92
5590         49591
3719         49550
2271         49500
149          49289
680          49260
3387         49230
6688         49200
171          49124
684          49000
2516         48742
6755         48700
1824         48699
2545         48672
6166         48650
2187         48649
4435        486000
2671         48526
1140         48500
4691         48262
4483         48240
3629         48125
1313         48119
170          48000
2972        48,000
5758         47714
3924         47600
5350      47573.49
752          47500
485          47450
5783         47449
402          47414
345          47240
4292       47219.2
5092         47219
5975      47143.36
7            47000
4729        47,677
4308        47,300
4461        47,000
3095         46950
5773         46750
4054         46700
4501         46500
5885         46350
1223         46300
47           46000
5199         45800
2776         45700
3887         45567
4109         45500
2284         45408
4438         45352
2087         45300
6278         45170
20           45000
3873        45,000
3795         44935
5583         44892
5355         44774
2518         44636
6696         44503
3735         44494
119          44278
1136          4423
1141          4420
980          44000
2963        44.806
4494        44,500
4321        44,000
1879         43800
3906         43774
2253         43758
2002         43701
6219         43700
6474         43500
1789         43468
690          43000
3138       430,000
1725           430
4726        43,600
4452        43,000
5245         42916
4806         42910
3587         42700
4669        425000
613          42500
1385         42400
2799         42204
1748         42150
1263         42109
5689         42100
140          42000
4584          4200
3979        42,000
67           41900
1642         41771
1999         41535
6712         41436
3935         41404
1187         41333
4604         41300
3410         41262
2504         41200
1291          4118
5214         41124
8            41000
6315         40800
2183         40756
1428         40545
5757         40541
1582         40500
1821         40300
4294         40165
593          40100
4298      40083.64
2343        400000
26           40000
4706          4000
3074        40,000
1262         39616
1605         39566
392          39000
683           3900
1274         38940
6682         38800
1859         38500
1247         38404
6313         38150
1470         38000
3567        38.736
3663        38,000
130          37669
1799         37619
5266         37538
10           37500
1687         37400
5702         37260
1216         37166
4248         37100
1589         37000
2740         36899
1994        368900
2482         36850
2386         36675
2893         36549
1342         36500
867          36400
4992         36312
645          36000
3003          3600
137          35900
2856         35800
4230          3580
3762         35667
1272         35577
2974         35500
3539         35407
2948         35398
6438         35362
2337         35357
6293         35169
5653         35100
4132        350000
4            35000
6382          3500
4042         34822
5078         34821
5612        345000
4434         34466
1270         34375
2171         34125
4455         34100
829          34000
3331        34,300
2132         33500
5038      33430.19
5159        333000
6020         33172
3069         33000
6416          3300
5270        33,437
3607        33,388
3530        33,000
2840         32800
2282        325000
5798         32500
3678       325,000
6441         32200
1675         32000
2922        32,000
4251         31893
5908         31818
1277         31650
6317         31500
1120         31300
2817         31017
3389        310000
1240         31000
114          30798
4379         30692
1138         30500
2180         30415
6618         30300
6175         30236
109         300000
697          30000
1946          3000
3177           300
5345        30,800
3059        30,314
3817        30,000
37           29511
2213         29500
3561         29260
1158         29200
837          29148
2522        290000
346          29000
6387          2900
2811         28800
1197         28739
5108         28600
1499         28500
6280         28495
4128         28308
4162        280000
1747         28000
5916        28,000
2081         27880
4235         27600
6718        275000
1280         27280
1368         27260
646         272000
1681         27049
167         270000
154          27000
63           26500
6465        264000
1884         26400
897          26300
5134        260000
214          26000
217          25500
1143        253000
1160        250000
681          25000
4450         24800
723         245000
5756         24400
3948         24375
2606         24265
4545       24145.2
1365        240000
1221         24000
6398          2400
3055        24,000
4382        235000
790          23500
2745         23300
2582         23160
49           23000
4736        23,000
1184         22941
4244         22735
253         225000
3780          2246
6003         22244
5348         22140
1554        220000
1128         22000
4284          2200
3613        22,500
5248        22,350
3047        22,000
5334        217000
1411         21600
2181        215250
5           215000
4222         21500
1265         21350
2670         21244
6744        211000
1550        210000
178          21000
3040        21,000
6049         20750
3832         20600
4805        205000
2573         20500
1258         20484
5928         20476
2798         20290
4175        201000
0           200000
414          20000
2567          2000
4640        198000
2491         19800
4377          1967
1048        196000
4389         19600
1082        195000
5001        194000
3991       193,000
3810        192000
2109         19085
588         190000
1233         19000
3636       190,000
833         189000
3756         18900
5693        188000
5708        187500
5025       187,000
1536        185000
2157         18500
5332       185,000
3270        184000
3342         18352
4296        182000
1586         18200
5344         18181
3188        180600
242         180000
1163         18000
3222       180,000
6845         17913
2319        178000
5049        177000
205          17647
62           17621
1146        176000
58          175000
896          17500
1644        174000
5475         17333
2046         17250
2452        172000
572         171000
520         170000
3857         17000
3557     17,667.00
1116        169000
1119        168000
4299       168,000
2912        167250
2093        167000
3710         16700
142          16666
5175        166000
1709        165227
38          165000
6600         16500
4676       165,000
4240        164000
5088       164,000
4227         16380
1003        163000
1888        162000
4086       161,449
3208        160750
176         160000
615          16000
1165          1600
4923       160,000
5903        159056
4154        159000
6145        158500
5614        158200
275         158000
169         157000
550         156000
4509         15600
3704        155500
343         155000
1296         15500
2945       155,000
2313        154000
3759       154,000
3448        153824

**Observation:** Column 'salary_in_usd' contains non-numeric values, such as '1,375,000' or '$49,000'.

In [282]:
# remove whitespace and special character '$' from column salary_in_usd
df['salary_in_usd'] = df['salary_in_usd'].str.replace(r'\s|\$|\,', '')

C:\Users\Ansgar.S\AppData\Local\Temp\ipykernel_13148\1144073207.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['salary_in_usd'] = df['salary_in_usd'].str.replace(r'\s|\$|\,', '')

In [283]:
#change the data type of column salary_in_usd to float
df['salary_in_usd'] = df['salary_in_usd'].astype('float')

In [284]:
#run statistics on column salary_in_usd
df['salary_in_usd'].describe()

count      6893.00
mean      92807.13
std       57770.01
min           0.00
25%       65000.00
50%       90000.00
75%      115000.00
max     1450000.00
Name: salary_in_usd, dtype: float64

In [285]:
# check column salary_in_usd 
df['salary_in_usd'].drop_duplicates().sort_values(ascending = False)

1014   1450000.00
4413   1375000.00
2153   1000000.00
5115    960000.00
3796    832031.00
5426    800000.00
1873    785000.00
6153    750000.00
4849    705000.00
5217    684000.00
3775    650000.00
5015    628857.00
2653    575000.00
6070    500000.00
4435    486000.00
3138    430000.00
4669    425000.00
2343    400000.00
1994    368900.00
4132    350000.00
5612    345000.00
5159    333000.00
2282    325000.00
3389    310000.00
109     300000.00
2522    290000.00
4162    280000.00
6718    275000.00
646     272000.00
167     270000.00
6465    264000.00
5134    260000.00
1143    253000.00
1160    250000.00
723     245000.00
1365    240000.00
4382    235000.00
253     225000.00
1554    220000.00
5334    217000.00
2181    215250.00
5       215000.00
6744    211000.00
1550    210000.00
4805    205000.00
4175    201000.00
0       200000.00
4640    198000.00
1048    196000.00
1082    195000.00
5001    194000.00
3991    193000.00
3810    192000.00
588     190000.00
833     189000.00
5693    188000.00
5708    187500.00
5025    187000.00
1536    185000.00
3270    184000.00
4296    182000.00
3188    180600.00
242     180000.00
2319    178000.00
5049    177000.00
1146    176000.00
58      175000.00
1644    174000.00
2452    172000.00
572     171000.00
520     170000.00
1116    169000.00
1119    168000.00
2912    167250.00
2093    167000.00
5175    166000.00
1709    165227.00
38      165000.00
4240    164000.00
1003    163000.00
1888    162000.00
4086    161449.00
3208    160750.00
176     160000.00
5903    159056.00
4154    159000.00
6145    158500.00
5614    158200.00
275     158000.00
169     157000.00
550     156000.00
3704    155500.00
343     155000.00
2313    154000.00
3448    153824.00
4286    153500.00
6827    153400.00
6197    153027.00
348     153000.00
4215    152000.00
6392    151500.00
5867    151400.00
891     151000.00
75      150000.00
369     149000.00
3667    148986.00
24      148000.00
747     147500.00
177     147000.00
419     146000.00
611     145493.00
44      145000.00
5277    144700.00
2058    144000.00
4875    143800.00
6340    143547.00
2760    143200.00
774     143000.00
5862    142600.00
397     142500.00
322     142000.00
101     141000.00
5604    140394.00
6172    140321.00
36      140000.00
746     139000.00
191     138500.00
50      138000.00
12      137500.00
4748    137443.00
448     137000.00
5494    136500.00
422     136000.00
767     135900.00
6482    135600.00
3322    135500.00
4583    135300.00
296     135000.00
644     134400.00
210     134000.00
267     133900.00
5525    133817.00
3451    133800.00
6242    133700.00
1796    133615.00
28      133500.00
5570    133010.00
40      133000.00
193     132725.00
5562    132500.00
5483    132387.00
4985    132131.00
341     132000.00
5470    131700.00
6403    131500.00
846     131000.00
709     130750.00
368     130500.00
1336    130271.00
6304    130090.00
107     130000.00
6244    129800.00
406     129780.00
96      129000.00
2792    128825.00
4739    128800.00
3721    128593.00
4937    128500.00
2088    128000.00
6766    127750.00
423     127500.00
624     127000.00
1571    126800.00
1510    126500.00
622     126000.00
3994    125900.00
3468    125303.00
705     125250.00
94      125000.00
334     124800.00
955     124600.00
5944    124500.00
620     124000.00
612     123847.00
5167    123673.00
312     123634.00
6383    123600.00
6309    123585.00
3715    123500.00
241     123300.00
4760    123217.00
2137    123200.00
22      123000.00
3112    122800.00
42      122500.00
4139    122400.00
213     122000.00
1028    121950.00
2771    121807.00
1923    121500.00
2906    121368.00
104     121000.00
262     120792.00
6085    120500.00
2158    120250.00
43      120000.00
5910    119831.00
6094    119500.00
2431    119071.00
261     119000.00
1181    118838.00
3482    118560.00
4957    118556.00
310     118500.00
658     118400.00
1988    118111.00
232     118000.00
5595    117920.00
172     117832.00
3897    117770.00
1148    117600.00
518     117500.00
5474    117031.00
97      117000.00
6588    116965.00
3647    116500.00
1950    116400.00
5520    116340.00
3725    116321.00
73      116000.00
3388    115700.00
632     115600.00
429     115544.00
3925    115500.00
6779    115200.00
108     115000.00
740     114700.00
3228    114500.00
2816    114300.00
768     114000.00
3275    113900.00
2687    113842.00
4561    113650.00
1092    113500.00
59      113400.00
311     113300.00
6810    113100.00
2179    113097.00
25      113000.00
499     112874.00
5892    112840.00
5282    112700.00
220     112500.00
491     112350.00
266     112000.00
1912    111500.00
2092    111300.00
3974    111250.00
413     111214.00
209     111000.00
3149    110724.00
5291    110700.00
2942    110400.00
5943    110240.00
2814    110154.00
868     110073.00
5321    110040.00
51      110000.00
5593    109500.00
3761    109300.00
5915    109200.00
330     109000.00
3238    108819.00
4562    108707.00
3368    108564.00
715     108500.00
357     108250.00
295     108000.00
4850    107900.00
33      107690.00
1067    107540.00
5405    107500.00
34      107000.00
2396    106700.00
1412    106500.00
685     106400.00
1328    106300.00
495     106000.00
5840    105800.00
797     105750.00
2246    105721.00
6451    105607.00
5722    105300.00
64      105000.00
465     104500.00
6769    104495.00
1501    104300.00
66      104000.00
362     103900.00
5313    103520.00
3122    103500.00
2520    103276.00
870     103250.00
216     103110.00
6669    103107.00
432     103000.00
2957    102960.00
5802    102900.00
4696    102800.00
602     102500.00
3723    102494.00
3628    102456.00
5683    102232.00
6202    102200.00
6093    102104.00
29      102000.00
5836    101900.00
18      101750.00
5006    101725.00
1266    101500.00
1039    101400.00
3681    101363.00
713     101000.00
23      100800.00
2849    100646.00
3511    100588.00
1975    100500.00
3135    100420.00
1933    100400.00
2316    100318.00
268     100282.00
160     100000.00
3821     99800.00
3406     99600.00
3683     99500.00
3913     99348.12
468      99257.00
574      99220.00
6048     99100.00
54       99000.00
4359     98866.00
433      98800.00
6491     98760.00
1964     98750.00
564      98670.00
410      98600.00
86       98517.00
498      98500.00
1851     98304.00
69       98000.00
61       97500.00
3248     97335.00
734      97325.00
5145     97263.00
3314     97232.00
3064     97088.00
207      97000.00
6877     96700.00
2978     96600.00
3028     96578.00
1355     96500.00
316      96108.00
15       96000.00
2389     95800.00
5365     95612.00
3371     95600.00
4869     95532.00
211      95500.00
4754     95378.00
5298     95207.00
3403     95200.00
2332     95185.00
1661     95138.00
2        95000.00
4173     94994.00
750      94500.00
3833     94245.00
2391     94200.00
4115     94188.00
89       94000.00
271      93800.00
4405     93711.00
5930     93573.00
278      93500.00
6796     93480.00
5139     93396.00
4025     93156.00
878      93125.00
111      93000.00
1986     92950.00
2834     92822.00
3784     92750.00
4752     92747.00
792      92600.00
452      92500.00
1898     92425.00
4898     92103.00
2408     92100.00
218      92000.00
4679     91865.00
251      91800.00
462      91520.00
2438     91500.00
1926     91484.00
1862     91400.00
941      91300.00
6780     91214.00
4489     91200.00
151      91000.00
4026     90937.00
5320     90900.00
4056     90875.00
654      90756.00
2790     90500.00
4820     90435.30
6212     90250.00
5744     90200.00
16       90000.00
6146     89814.00
4337     89750.00
4020     89600.00
487      89500.00
1202     89167.00
3666     89139.00
272      89035.00
708      89000.00
201      88900.00
2763     88833.00
799      88580.00
2090     88500.00
135      88130.00
6158     88050.00
6108     88002.00
124      88000.00
2587     87992.00
2309     87890.00
5561     87700.00
3458     87683.00
2287     87603.00
4370     87600.00
844      87500.00
592      87491.00
1544     87400.00
582      87360.00
5706     87324.00
5358     87227.00
529      87100.00
117      87000.00
3643     86888.00
559      86735.00
6475     86708.00
2837     86700.00
773      86650.00
5371     86600.00
6725     86597.00
4533     86500.00
4763     86150.00
3210     86065.00
84       86006.00
489      86000.00
1558     85900.00
3161     85850.00
925      85661.00
6228     85654.00
1719     85600.00
5691     85585.00
4595     85571.00
5652     85544.00
3247     85540.00
4825     85500.00
3143     85488.00
1791     85232.00
6464     85216.00
6741     85200.00
99       85155.00
14       85000.00
363      84826.00
1363     84500.00
4614     84460.00
3017     84154.00
456      84048.00
35       84000.00
4391     83664.00
258      83599.00
4885     83500.00
4403     83234.00
2931     83232.00
6570     83200.00
6205     83018.00
19       83000.00
6268     82970.00
6209     82900.00
5736     82560.00
1705     82500.00
3769     82150.00
80       82000.00
2365     81723.00
5913     81645.00
5467     81600.00
3216     81518.85
4431     81500.00
6201     81471.00
6879     81200.00
2731     81100.00
79       81000.00
375      80939.00
859      80751.00
4903     80500.00
4123     80330.00
5099     80300.00
2237     80262.00
4358     80200.00
6307     80104.00
4650     80100.00
1020     80080.00
27       80000.00
3836     79928.00
5979     79860.00
6532     79800.00
1450     79750.00
674      79509.00
2576     79500.00
1782     79300.00
5846     79280.00
1203     79240.00
3118     79150.00
1153     79000.00
763      78852.00
991      78760.00
2969     78750.00
5569     78600.00
1441     78500.00
3066     78250.00
2398     78245.00
6254     78052.00
21       78000.00
1269     77947.00
5526     77855.00
591      77850.00
2614     77800.00
6426     77700.00
5387     77650.00
6193     77624.00
46       77600.00
3397     77575.00
989      77500.00
6612     77374.00
817      77250.00
803      77200.00
6602     77191.00
5305     77155.00
3196     77140.00
1080     77056.00
435      77000.00
640      76800.00
3505     76780.00
650      76650.00
1199     76500.00
1768     76450.00
2597     76200.00
3737     76108.95
387      76000.00
983      75720.00
2120     75600.00
4813     75524.00
1775     75500.00
5337     75344.00
4834     75200.00
4326     75110.00
3826     75100.00
5995     75080.00
6        75000.00
3806     74880.00
6165     74813.00
3551     74610.00
3426     74560.00
780      74500.00
538      74424.00
5750     74422.00
1448     74400.00
1416     74351.00
3229     74200.00
1090     74104.00
30       74000.00
5674     73840.00
2248     73800.00
1936     73757.00
818      73745.00
904      73724.00
4493     73702.00
4717     73700.00
4395     73574.00
4786     73500.00
2150     73014.00
319      73000.00
53       72800.00
2675     72730.00
1433     72500.00
1026     72450.00
5322     72446.00
5224     72247.00
4278     72176.00
2451     72170.00
93       72000.00
1016     71807.00
5579     71800.00
5048     71650.00
4495     71600.00
335      71594.00
698      71500.00
6775     71400.00
1592     71300.00
4394     71200.00
923      71000.00
5747     70879.00
2457     70863.00
85       70850.00
4269     70828.00
978      70800.00
2021     70788.00
76       70760.00
1264     70500.00
337      70400.00
6169     70180.00
83       70000.00
6349     69990.00
6777     69894.00
2424     69882.00
5879     69875.00
458      69725.00
4693     69700.00
6722     69610.00
6379     69600.00
1073     69508.00
3425     69500.00
3577     69392.00
4904     69092.00
5972     69086.00
678      69000.00
1970     68950.00
4521     68500.00
3129     68475.00
4894     68367.00
731      68310.00
911      68255.00
854      68081.00
1015     68000.00
3381     67973.00
1027     67902.00
2983     67789.00
78       67770.00
5775     67700.00
4412     67600.00
3909     67500.00
567      67418.00
5917     67282.00
2823     67275.00
3746     67164.00
3776     67155.00
1493     67080.00
4498     67060.00
4486     67050.00
41       67000.00
1740     66999.00
4468     66961.50
4059     66954.00
1837     66900.00
5923     66750.00
4544     66625.00
1155     66600.00
699      66500.00
1225     66400.00
1372     66300.00
4853     66152.00
3945     66084.40
6173     66050.00
17       66000.00
3080     65995.00
3434     65870.00
6406     65770.00
2911     65750.00
1760     65723.00
4682     65700.00
1232     65642.00
3453     65610.00
5874     65543.00
4238     65505.00
1315     65500.00
2743     65400.00
136      65388.00
4918     65240.00
6289     65180.00
5701     65105.00
77       65000.00
290      64775.00
720      64750.00
4491     64651.00
408      64500.00
2061     64480.00
4997     64477.00
2353     64460.00
2216     64300.00
2251     64280.00
2989     64186.00
5299     64179.00
110      64000.00
5926     63800.00
2881     63600.00
196      63500.00
2185     63400.00
4922     63344.00
5316     63330.00
6540     63200.00
1239     63176.00
1894     63150.00
13       63000.00
4966     62700.00
412      62666.00
3938     62661.00
511      62500.00
3390     62400.00
675      62391.00
1716     62250.00
4476     62239.00
3964     62171.00
1764     62109.00
3595     62100.00
203      62000.00
6339     61903.00
1548     61900.00
2768     61800.00
2595     61773.00
5079     61763.00
4881     61671.00
4472     61636.00
141      61606.00
2656     61575.00
4479     61562.00
1        61515.00
3927     61500.00
1588     61475.00
6112     61400.00
5658     61386.00
4005     61206.00
4666     61200.00
1132     61000.00
277      60900.00
2256     60782.00
1802     60750.00
6849     60650.00
2363     60500.00
1320     60477.00
872      60438.00
4588     60360.00
5588     60332.00
5095     60330.00
1191     60300.00
4511     60267.00
3820     60166.00
5206     60112.00
2958     60090.00
11       60000.00
3615     59964.27
3569     59928.00
3257     59900.00
6405     59850.00
1522     59700.00
6301     59530.00
5125     59500.00
1251     59401.00
1484     59009.00
305      59000.00
4142     58775.00
3933     58750.00
3065     58665.00
2807     58560.00
2511     58500.00
1779     58430.00
2344     58368.00
6226     58250.00
6751     58180.00
102      58000.00
1061     57800.00
1707     57740.00
4955     57706.00
4623     57641.00
424      57512.00
390      57500.00
3603     57417.00
6581     57400.00
5584     57351.00
3734     57300.00
3346     57232.00
4246     57200.00
2574     57175.00
163      57000.00
4482     56900.00
4094     56800.00
6002     56700.00
5067     56640.00
3942     56600.00
4150     56550.00
4027     56500.00
5461     56315.00
4475     56280.00
3323     56250.00
1174     56200.00
2746     56173.00
601      56140.00
3        56000.00
401      55908.00
4444     55900.00
323      55845.00
320      55800.00
4684     55742.00
1230     55730.00
1200     55712.00
1235     55700.00
493      55670.00
391      55600.00
3391     55500.00
1397     55399.00
1564     55300.00
6142     55168.00
56       55000.00
4507     54952.00
5200     54832.00
1826     54786.00
6374     54772.00
3848     54600.00
5309     54577.00
1142     54500.00
4857     54462.00
5420     54432.00
6042     54409.68
6224     54330.00
5705     54100.00
997      54000.00
4048     53942.00
6541     53860.00
3781     53700.00
3692     53631.00
4902     53620.00
5587     53600.00
524      53500.00
5664     53460.00
4907     53443.00
516      53343.00
1807     53300.00
4220     53128.00
3982     53040.00
239      53000.00
280      52970.00
4447     52942.00
6012     52922.00
4910     52916.00
847      52898.00
4104     52823.00
2052     52742.00
2011     52500.00
3207     52490.00
1767     52382.00
2543     52270.00
5629     52256.00
3975     52165.00
4516     52050.00
31       52000.00
1984     51800.00
9        51652.00
1150     51500.00
4243     51475.00
2736     51284.00
1835     51101.00
3586     51037.00
70       51000.00
2514     50920.00
5219     50833.00
246      50750.00
4077     50700.00
5968     50621.00
148      50600.00
1850     50500.00
3034     50420.00
158      50400.00
3560     50393.00
4439     50250.00
6288     50140.00
5228     50100.00
3181     50085.00
55       50000.00
952      49900.00
4884     49793.92
5590     49591.00
3719     49550.00
2271     49500.00
149      49289.00
680      49260.00
3387     49230.00
6688     49200.00
171      49124.00
684      49000.00
2516     48742.00
6755     48700.00
1824     48699.00
2545     48672.00
6166     48650.00
2187     48649.00
2671     48526.00
1140     48500.00
4691     48262.00
4483     48240.00
3629     48125.00
1313     48119.00
170      48000.00
5758     47714.00
4729     47677.00
3924     47600.00
5350     47573.49
752      47500.00
485      47450.00
5783     47449.00
402      47414.00
4308     47300.00
345      47240.00
4292     47219.20
5092     47219.00
5975     47143.36
7        47000.00
3095     46950.00
5773     46750.00
4054     46700.00
4501     46500.00
5885     46350.00
1223     46300.00
47       46000.00
5199     45800.00
2776     45700.00
3887     45567.00
4109     45500.00
2284     45408.00
4438     45352.00
2087     45300.00
6278     45170.00
20       45000.00
3795     44935.00
5583     44892.00
5355     44774.00
2518     44636.00
6696     44503.00
4494     44500.00
3735     44494.00
119      44278.00
980      44000.00
1879     43800.00
3906     43774.00
2253     43758.00
2002     43701.00
6219     43700.00
4726     43600.00
6474     43500.00
1789     43468.00
690      43000.00
5245     42916.00
4806     42910.00
3587     42700.00
613      42500.00
1385     42400.00
2799     42204.00
1748     42150.00
1263     42109.00
5689     42100.00
140      42000.00
67       41900.00
1642     41771.00
1999     41535.00
6712     41436.00
3935     41404.00
1187     41333.00
4604     41300.00
3410     41262.00
2504     41200.00
5214     41124.00
8        41000.00
6315     40800.00
2183     40756.00
1428     40545.00
5757     40541.00
1582     40500.00
1821     40300.00
4294     40165.00
593      40100.00
4298     40083.64
26       40000.00
1262     39616.00
1605     39566.00
392      39000.00
1274     38940.00
6682     38800.00
1859     38500.00
1247     38404.00
6313     38150.00
1470     38000.00
130      37669.00
1799     37619.00
5266     37538.00
10       37500.00
1687     37400.00
5702     37260.00
1216     37166.00
4248     37100.00
1589     37000.00
2740     36899.00
2482     36850.00
2386     36675.00
2893     36549.00
1342     36500.00
867      36400.00
4992     36312.00
645      36000.00
137      35900.00
2856     35800.00
3762     35667.00
1272     35577.00
2974     35500.00
3539     35407.00
2948     35398.00
6438     35362.00
2337     35357.00
6293     35169.00
5653     35100.00
4        35000.00
4042     34822.00
5078     34821.00
4434     34466.00
1270     34375.00
3331     34300.00
2171     34125.00
4455     34100.00
829      34000.00
2132     33500.00
5270     33437.00
5038     33430.19
3607     33388.00
6020     33172.00
3069     33000.00
2840     32800.00
5798     32500.00
6441     32200.00
1675     32000.00
4251     31893.00
5908     31818.00
1277     31650.00
6317     31500.00
1120     31300.00
2817     31017.00
1240     31000.00
5345     30800.00
114      30798.00
4379     30692.00
1138     30500.00
2180     30415.00
3059     30314.00
6618     30300.00
6175     30236.00
697      30000.00
37       29511.00
2213     29500.00
3561     29260.00
1158     29200.00
837      29148.00
346      29000.00
2811     28800.00
1197     28739.00
5108     28600.00
1499     28500.00
6280     28495.00
4128     28308.00
1747     28000.00
2081     27880.00
4235     27600.00
1280     27280.00
1368     27260.00
1681     27049.00
154      27000.00
63       26500.00
1884     26400.00
897      26300.00
214      26000.00
217      25500.00
681      25000.00
4450     24800.00
5756     24400.00
3948     24375.00
2606     24265.00
4545     24145.20
1221     24000.00
790      23500.00
2745     23300.00
2582     23160.00
49       23000.00
1184     22941.00
4244     22735.00
3613     22500.00
5248     22350.00
6003     22244.00
5348     22140.00
1128     22000.00
1411     21600.00
4222     21500.00
1265     21350.00
2670     21244.00

**Observation:**

Some values in column 'salary_in_usd' are abnormally high, for example: 1450000, 1375000, etc. These might be placeholder values as it is likely the respondents did not want to share their income details.

On the other hand, some values are very low, for example: 58.00 or 38.74. This could be due to the fact that some of these values might be hourly rates, part-time salaries, salaries in countries with lower median incomes, or simply typing errors.

Lastly, values at 0 are likely due to respondents not willing to share their income information.

In [286]:
df[df['salary_in_usd'] == 1375000]

,id,survey_year,timestamp,salary_in_usd,country,primary_db,years_of_exp_with_primary_db,other_dbs,employment_status,job_title,manage_staff,years_of_exp_with_data_jobs,number_of_companies_worked_for,number_of_team_members,number_of_company_employees,number_of_db_servers,education,education_is_computer_related,certifications,hours_worked_per_week,wfh_days_per_week,pop_of_largest_city_within_20_miles,employment_sector,looking_for_another_job,career_plans_this_year,other_job_duties,tasks_perfomed
4413,4413,2018,12/19/2017 18:18:03,1375000.00,United States,Microsoft SQL Server,8,"Oracle, MySQL/MariaDB, Teradata",Part time,"Developer: Business Intelligence (SSRS, PowerB...",Yes,18,Not Asked,None,Not Asked,1,Masters,No,"No, I never have",32,1,Not Asked,Private business,No,"Stay with the same employer, but change roles","Analyst, Architect, Data Scientist, Manager","Build scripts & automation tools, Meetings & m..."

In [287]:
# aggregate column salary_in_usd after grouping by column employment_status
df.groupby('employment_status').agg({'salary_in_usd': ['min', 'max', 'mean', 'std']})

                                                   salary_in_usd             \
                                                             min        max
employment_status
Full time employee                                         38.74 1450000.00
Full time employee of a consulting/contracting ...         87.83  800000.00
Independent consultant, contractor, freelancer,...          0.00 1000000.00
Independent or freelancer or company owner              20000.00  368900.00
Part time                                                 300.00 1375000.00


                                                        mean       std
employment_status
Full time employee                                  90732.71  52631.64
Full time employee of a consulting/contracting ...  91921.41  52418.03
Independent consultant, contractor, freelancer,... 142826.92 105638.12
Independent or freelancer or company owner         131571.78  73154.22
Part time                                          115970.23 282456.61

In [288]:
# get the 20 lowest salaries for each employment status
df.groupby('employment_status')['salary_in_usd'].apply(lambda x: x.nsmallest(20))

employment_status
Full time employee                                                 3567      38.74
                                                                   2963      44.81
                                                                   4316      56.00
                                                                   5198      58.00
                                                                   4179      81.00
                                                                   3259      92.27
                                                                   3563     126.00
                                                                   1725     430.00
                                                                   1292     545.00
                                                                   3518     577.00
                                                                   5465     624.80
                                                                   3772     700.00
                                                                   5222     900.00
                                                                   2495    1050.00
                                                                   3058    1100.00
                                                                   2660    1200.00
                                                                   2494    1467.00
                                                                   1165    1600.00
                                                                   4720    1600.00
                                                                   4377    1967.00
Full time employee of a consulting/contracting company             5259      87.83
                                                                   5353     112.00
                                                                   3815     130.00
                                                                   1167    1250.00
                                                                   1136    4423.00
                                                                   1712    5000.00
                                                                   2430    9000.00
                                                                   236    10000.00
                                                                   2695   10073.00
                                                                   5690   10095.00
                                                                   3523   12000.00
                                                                   3773   12000.00
                                                                   5182   12500.00
                                                                   4208   13000.00
                                                                   958    13500.00
                                                                   1145   14000.00
                                                                   5752   14139.00
                                                                   3857   17000.00
                                                                   2046   17250.00
                                                                   1279   20000.00
Independent consultant, contractor, freelancer,  or company owner  5589       0.00
                                                                   6077       0.00
                                                                   4374    7500.00
                                                                   5106   26500.00
                                                                   3837   30000.00
                                                                   4868   30000.00
                                                                   5073   30000.00
                                                                   3588   35000.00
                                                                   6024   45000.00
                                                                   4292   47219.20
                                                                   3510   50000.00
                                                                   3884   50000.00
                                                                   4258   50000.00
                                                                   4261   50000.00
                                                                   4388   54000.00
                                                                   4402   54000.00
                                                                   4467   55000.00
                                                                   3713   60000.00
                                                                   4846   60000.00
                                                                   3002   62000.00
Independent or freelancer or company owner                         2739   20000.00
                                                                   2751   25000.00
                                                                   154    27000.00
                                                                   2368   30000.00
                                                                   156    35000.00
                                                                   645    36000.00
                                                                   769    42000.00
                                                                   1341   42000.00
                                                                   1682   43000.00
                                                                   147    45000.00
                                                                   1483   48000.00
                                                                   2747   49000.00
                                                                   1761   50000.00
                                                                   1750   54000.00
                                                                   1218   55000.00
                                                                   1113   60000.00
                                                                   1678   62000.00
                                                                   408    64500.00
                                                                   1085   65000.00
                                                                   1015   68000.00
Part time                                                          3177     300.00
                                                                   5042    8000.00
                                                                   5642   20000.00
                                                                   5348   22140.00
                                                                   4095   30000.00
                                                                   3765   34000.00
                                                                   4917   43000.00
                                                                   4744   50000.00
                                                                   5309   54577.00
                                                                   5659   62000.00
                                                                   3480   68000.00
                                                                   2987   70000.00
                                                                   4231   70000.00
                                                                   5054   75000.00
                                                                   5855   75000.00
                                                                   4555   79000.00
                                                                   3836   79928.00
                                                                   4903   80500.00
                                                                   6879   81200.00
                                                                   6570   83200.00
Name: salary_in_usd, dtype: float64

In [289]:
# get the 20 highest salaries for each employment status
df.groupby('employment_status')['salary_in_usd'].apply(lambda x: x.nlargest(20))

employment_status
Full time employee                                                 1014   1450000.00
                                                                   3085   1450000.00
                                                                   2153   1000000.00
                                                                   5115    960000.00
                                                                   3796    832031.00
                                                                   1873    785000.00
                                                                   6153    750000.00
                                                                   4849    705000.00
                                                                   5217    684000.00
                                                                   3775    650000.00
                                                                   5015    628857.00
                                                                   2653    575000.00
                                                                   4435    486000.00
                                                                   4669    425000.00
                                                                   2343    400000.00
                                                                   4132    350000.00
                                                                   5612    345000.00
                                                                   5159    333000.00
                                                                   3678    325000.00
                                                                   4587    325000.00
Full time employee of a consulting/contracting company             5426    800000.00
                                                                   2522    290000.00
                                                                   4788    240000.00
                                                                   4611    225000.00
                                                                   5905    205000.00
                                                                   2758    200000.00
                                                                   3757    200000.00
                                                                   6555    200000.00
                                                                   5336    194000.00
                                                                   242     180000.00
                                                                   1930    176000.00
                                                                   1556    175000.00
                                                                   5617    175000.00
                                                                   2882    172000.00
                                                                   3988    170000.00
                                                                   4299    168000.00
                                                                   1505    165000.00
                                                                   5260    165000.00
                                                                   6721    165000.00
                                                                   1627    163000.00
Independent consultant, contractor, freelancer,  or company owner  4733   1000000.00
                                                                   6070    500000.00
                                                                   6823    500000.00
                                                                   3138    430000.00
                                                                   5360    400000.00
                                                                   4362    350000.00
                                                                   3389    310000.00
                                                                   3664    300000.00
                                                                   4956    300000.00
                                                                   5495    300000.00
                                                                   3166    290000.00
                                                                   3356    290000.00
                                                                   5257    280000.00
                                                                   6718    275000.00
                                                                   5134    260000.00
                                                                   6793    260000.00
                                                                   6190    250000.00
                                                                   6437    250000.00
                                                                   6530    250000.00
                                                                   6067    240000.00
Independent or freelancer or company owner                         1994    368900.00
                                                                   2282    325000.00
                                                                   109     300000.00
                                                                   291     300000.00
                                                                   825     300000.00
                                                                   646     272000.00
                                                                   2086    250000.00
                                                                   2473    250000.00
                                                                   2742    250000.00
                                                                   723     245000.00
                                                                   1365    240000.00
                                                                   253     225000.00
                                                                   661     225000.00
                                                                   1347    225000.00
                                                                   2754    225000.00
                                                                   5       215000.00
                                                                   1129    200000.00
                                                                   2326    200000.00
                                                                   1048    196000.00
                                                                   1613    196000.00
Part time                                                          4413   1375000.00
                                                                   5778     90500.00
                                                                   6570     83200.00
                                                                   6879     81200.00
                                                                   4903     80500.00
                                                                   3836     79928.00
                                                                   4555     79000.00
                                                                   5054     75000.00
                                                                   5855     75000.00
                                                                   2987     70000.00
                                                                   4231     70000.00
                                                                   3480     68000.00
                                                                   5659     62000.00
                                                                   5309     54577.00
                                                                   4744     50000.00
                                                                   4917     43000.00
                                                                   3765     34000.00
                                                                   4095     30000.00
                                                                   5348     22140.00
                                                                   5642     20000.00
Name: salary_in_usd, dtype: float64

**Solution:**

After considering the aggregation results above, I have decided to filter out outliers in the 'salary_in_usd' column below 1000 or beyond 1000000 in all employment statuses.

Regarding 'Part time' professionals, I believe lower incomes are expected due to the reduced working hours, so I will only exclude outliers on the higher end of the salary range for this group.

In [290]:
# create new dataframe without outliers in column salary_in_usd
df_clean = df[(df['salary_in_usd'] >= 1000) & (df['salary_in_usd'] <= 1000000)]

In [291]:
# number of rows and columns in df_clean
df_clean.shape

(6871, 27)

#### IV.4.2. Column 'years_of_exp_with_primary_db'

In [292]:
# check for abnormal values in column years_of_exp_with_primary_db in df_clean
df_clean['years_of_exp_with_primary_db'].drop_duplicates().sort_values(ascending = False)

3498    53716
4181    30331
6327     2011
5565     2008
5544     2004
5722     2003
6619     2000
6003     1050
1694       38
688        32
650        31
443        30
5768       29
2356       28
722        27
621        26
201        25
395        24
368        23
11         22
92         21
42         20
72         19
28         18
73         17
6          16
1          15
37         14
18         13
35         12
104        11
0          10
30          9
9           8
13          7
3           6
2           5
7           4
8           3
31          2
82          1
1216        0
Name: years_of_exp_with_primary_db, dtype: int64

**Observation:**
    
The outliers are: 53716, 30331, 2011, 2008, 2004, 2003, 2000, 1050.

Some of these might have occured because the respondent had mistakenly entered the year from which they first worked with the primary database (for example: the year 2008). However, this is not a reliable explanation, as some other outliers do not follow a pattern.

**Solution:**

All of the outliers will be removed from the data set.

In [293]:
# create new dataframe from df_clean without outliers in column years_of_exp_with_primary_db
df_clean_2 = df_clean.loc[~df_clean['years_of_exp_with_primary_db'].isin([53716, 30331, 2011, 2008, 2004, 2003, 2000, 1050])]

In [294]:
# number of rows and columns in df_clean_2
df_clean_2.shape

(6863, 27)

#### IV.4.3. Column 'hours_worked_per_week'

In [295]:
# check for abnormal values in column hours_worked_per_week
df_clean_2['hours_worked_per_week'].drop_duplicates().sort_values(ascending = False)

5939    200
223     160
2105    150
105     100
5928     93
353      90
4624     85
2066     82
156      80
4682     78
5243     76
336      75
552      70
806      68
39       65
2767     64
17       60
3254     59
3513     58
448      57
4385     56
12       55
1136     54
3863     53
1521     52
14       50
5730     49
44       48
149      47
74       46
0        45
394      44
252      43
20       42
107      41
3        40
67       39
83       38
13       37
7        36
1        35
177      32
106      30
5875     28
821      25
645      24
1576     22
3523     20
2987     15
5855     12
5345     11
1172     10
3544      9
230       8
4044      6
4450      5
2491      3
Name: hours_worked_per_week, dtype: int64

**Observation:**
    
There are outliers in the column 'hours_worked_per_week', and given that there are only 24 hours in a day and 7 days in a week, the presence of these outliers may imply that some data professionals are working unrealistically, impossibly long hours.

**Solution:**
    
Values beyond 100 are removed from the data set.

In [296]:
# create new dataframe from df_clean_2 without outliers in column hours_worked_per_week
df_clean_3 = df_clean_2.loc[~df_clean_2['hours_worked_per_week'].isin([200, 160, 150])]

In [297]:
# number of rows and columns in df_clean_3
df_clean_3.shape

(6860, 27)

### IV.5. Check data types

In [298]:
# check current data types in df_clean_3
df_clean_3.dtypes

id                                       int64
survey_year                              int64
timestamp                               object
salary_in_usd                          float64
country                                 object
primary_db                              object
years_of_exp_with_primary_db             int64
other_dbs                               object
employment_status                       object
job_title                               object
manage_staff                            object
years_of_exp_with_data_jobs              int64
number_of_companies_worked_for          object
number_of_team_members                  object
number_of_company_employees             object
number_of_db_servers                     int64
education                               object
education_is_computer_related           object
certifications                          object
hours_worked_per_week                    int64
wfh_days_per_week                       object
pop_of_largest_city_within_20_miles     object
employment_sector                       object
looking_for_another_job                 object
career_plans_this_year                  object
other_job_duties                        object
tasks_perfomed                          object
dtype: object

## V. Data Export

In [299]:
# export dataframe df_clean_4 in .pkl format
df_clean_3.to_pickle(os.path.join(repo_dir, 'data', 'prepared-data', 'salary-consistent.pkl'))